<form class="container" (ngSubmit)="onSubmit(myControl.value)">
    <div class="my-4 d-flex justify-content-center">
        <label for="stockTicker" class="display-6 fw-bold">Stock Search</label>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-4">
            <div class="d-flex justify-content-center rounded-pill border border-3 border border-primary bg-transparent">
                <input type="text" class="form-control rounded-pill border-0 inputsm shadow-none" id="stockTicker"
                    placeholder="Enter stock ticker symbol" [matAutocomplete]="auto" [formControl]="myControl">

                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngIf="isLoading">
                        <mat-spinner diameter="25"></mat-spinner>
                    </mat-option>
                    <ng-container *ngIf="!isLoading">
                        <mat-option *ngFor="let company of AllCompanies" [value]="company" (click)="onSubmit(company.symbol)">
                            {{company.symbol}} <small> | {{company.description}}</small>
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>

                <button type="submit" class="btn shadow-none" id="magnifier">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </button>
                <button type="reset" class="btn shadow-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-x"
                        viewBox="0 0 16 16">
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="!ifValid" style="text-align: center;">
        <ngb-alert type="warning" [dismissible]="true"> Please enter a valid ticker! </ngb-alert>
    </div>

</form>